/*       CONFIGURACIÓN GENERAL   */
body {
    margin: 0;
    background: #e8f5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor principal */
.register-container {
    width: 100%;
    max-width: 420px;
    text-align: center;
    padding: 20px;
}

/* Título */
.titulo {
    font-size: 35px;
    color: #1273ac;
    margin-bottom: 25px;
}

/* Formulario */
.form-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Input general */
.input-field {
    padding: 12px;
    font-size: 17px;
    border: 2px solid #1273ac;
    border-radius: 10px;
    outline: none;
}

.input-field:focus {
    border-color: #0e5d89;
}

/* Fila con CI y extensión */
.fila {
    display: flex;
    gap: 10px;
}

.select-field {
    width: 90px;
    padding: 12px;
    border: 2px solid #1273ac;
    border-radius: 10px;
    font-size: 17px;
    background: white;
}

/* Requisitos contraseña */
.requisitos {
    text-align: left;
    font-size: 14px;
    opacity: 0.7;
    margin-top: -10px;
}

/* Barra de seguridad */
.barra-container {
    width: 100%;
    height: 12px;
    background: #d9d9d9;
    border-radius: 8px;
    overflow: hidden;
}

.barra {
    height: 100%;
    width: 0%;
    background: red;
    transition: width 0.3s;
}

/* Botón */
.btn {
    padding: 12px;
    font-size: 18px;
    color: white;
    background: #1273ac;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn:not(:disabled) {
    opacity: 1;
}

.btn:hover:not(:disabled) {
    background-color: #0c557c;
}
